[submodule "extensions/spdlog"]
	path = extensions/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extensions/oatpp"]
	path = extensions/oatpp
	url = https://giextensions/oatppthub.com/oatpp/oatpp.git
